In [1]:
import pandas as pd

In [2]:
# Carrega arquivo CSV para análises, 3ª tentativa de dataframe diferente, colocando o arquivo CSV dentro do repositório learning03
musicas = pd.read_csv('./bandas.csv')

In [3]:
musicas.head()

,musica,artista,ano de lancamento,nome completo
0,Radioactive,Imagine Dragons,2012,Radioactive by Imagine Dragons
1,Good Vibrations,The Beach Boys,1966,Good Vibrations by The Beach Boys
2,A Day In The Life,The Beatles,1967,A Day In The Life by The Beatles
3,Message In A Bottle,The Police,1979,Message In A Bottle by The Police
4,Seven Nation Army,The White Stripes,2003,Seven Nation Army by The White Stripes

In [4]:
musicas['ano de lancamento'].value_counts()

ano de lancamento
2012    1
1966    1
1967    1
1979    1
2003    1
1978    1
2011    1
1991    1
2004    1
Name: count, dtype: int64